html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  background-color: lightsteelblue
}

.hidden {
    display: none;
}

.margin_left_10em {
    margin-left: 10em;
}

.photo_chooser_box { /**Exlusively for the _photoChooser.cshtml, use it in a pages <div> anytime it is in use, ex in profile.cshtml*/
    background-color: greenyellow;
    border: solid 5px #000;
    
    font-size: 1em;
    font-weight: bold;

    position: absolute; /**Fully divorced from normal flow, so now it follows its own flow, so it no longer flows the margin prop in the box model. -RA*/
    left: 500px;
    right: 400px;
    top: 130px;

    margin-right: 100px;
    

    
}

.profile_photo_circle {
    border: solid 3px #000;
    border-radius: 100px;
    cursor: pointer;

    margin-top: 100px;
}

.profile_banner {
    z-index: -1; /**Stacks the element to the back, or front or whereever, in this case to the back*/
    position: absolute;
    left: 400px;
    right: 486px;
    top: 100px;
    background-color: darkgreen;
    border: solid 2px #000;
}

.profile_banner_update_button_pos {
    z-index: 0;
    position: absolute;
    right: 488px;
    top: 500px;
    
}

.profile_photo_circle_nav_bar {

}

/**Only apply to div containing partial nav on profile pages*/
.profile_nav_outer {
    position: absolute;
    left: 50px;
    top: 150px;

    font-size: 2em;

    padding-left: 0px;
    padding-right: 0px;


}

.profile_nav_li_border {
    border: dotted 1px black;

    padding-left: 70px;
    padding-right: 50px;
    
    background-color: darkgreen;
}



/**https://www.w3schools.com/howto/howto_css_three_columns.asp*/
.column_col1_and_3_profile {
    float: left;
    width: 18%;
    margin-top: 100px;

    border: solid 2px black;

}


.column_profile_col2 {
    float: left;
    width: 60%;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;

    border: solid 5px black;
}

/* Clear floats after the columns */
.profile_row:after {
    content: "";
    display: table;
    clear: both;
}



img:hover {
    opacity: 80%;
}

/**Posts styling*/
.post_shell {
    margin-left: 20px;
    margin-right: 20px;
}

.post_container {
    background-color: black;
    margin-top: 15px;
}

.post_text_display {
    color: greenyellow;
    text-wrap: wrap;
}

.post_button_row:after {
    content: "";
    display: table;
    clear: both;
}

.post_three_col_buttons {
    float: left;
    width: 15%;

}

.button_style {
    color: red;
    font-weight: bold;
    background-color: black;
    border-color: red;
}

.post_button_style {

}

/**Misc*/
.pop_box {
    position: absolute;
    z-index: 999;
    left: auto;
    right: auto;
    top: auto;
    botton: auto;
    width: 500px;
    height: 250px;
    border: solid 5px black;
    background-color: darkslategrey;
    margin-top: 5px;
}

/**sub classes*/
ul.no_bullets {
    list-style-type: none;
}

a:hover.profile_a_nav_hover { /**decendent combinator & psudo element use    https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Attribute_selectors*/
    color: greenyellow;
}

a.profile_a_nav_link {
    color: purple;
}



/**media queries*/

@media screen and (max-width: 1000px) {
    .column_profile_col2 {
        width: 100%;
    }

    .column_col1_and_3_profile {
        width: 100%;
    }
}